.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81%;
  height: 100%;
  margin: 40px auto;
  background: #1a1a2e;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.dropdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.selectDropdown {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: rgb(47, 31, 106);
  color: var(--text-primary);
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  justify-items: center;
  margin-top: 10px;
}

.chartWrapper {
  width: 100%;
  padding: 15px;
  background: #1f1f3d;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.chartWrapper:hover {
  transform: scale(1.02);
}

.chartWrapper h3 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--text-secondary);
  font-size: 1.4rem;
}

.barChart {
  background: var(--bg-light);
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.pieChart {
  background: var(--bg-light);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.pieChart:hover {
  transform: scale(1.05);
}

.recharts-legend-item {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


@media (max-width: 850px) {
  .chartsGrid {
    grid-template-columns: 1fr;
  }

  .chartWrapper {
    max-width: 90%;
  }

  .heading {
    font-size: 1.5rem;
  }
}